$background-primary: #16161d;
$background-secondary: #15151c;
$background-shadow: #131319;
$font-primary: #ebebeb;
$font-secondary: #b86bff;
$invalid: rgb(202, 21, 21);
$valid: rgb(8, 177, 64);

.login-article {
  display: flex;
  justify-content: space-around;
  background-image: url("../svgs/waves2.svg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1em;
  position: relative;
  height: 100%;

  &::before {
    content: "";
    background-color: $font-secondary;
    width: 2vw;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    background-color: $font-secondary;
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 24%;
    left: 80%;
    z-index: -1;
  }

  img {
    width: 35vw;
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    div {
      position: relative;
      label {
        color: $font-secondary;
      }

      .error-tag {
        color: red;
        margin-left: 1em;
      }

      .login-label {
        position: absolute;
        top: 30px;
        left: 27px;
      }
    }

    input,
    button,
    select {
      margin: 0em 1em;
      outline: none;
    }

    select {
      padding-top: 2em;
    }

    h1 {
      margin-left: 0.6em;
    }

    input,
    select,
    textarea {
      width: 30vw;
    }
  }
}

.product-desc {
  margin-left: 1em;
  height: 8em;
}

.terms {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    text-align: left;
    flex: 10;
    margin-left: -1em;

    line-height: 1em;
  }

  input {
    flex: 1;
  }
}

.valid-input {
  border-color: $valid;
}

.invalid-input {
  border-color: $invalid;
}

.product-edit-inputs {
  display: flex;
  flex-direction: row;

  input {
    margin: 0;
  }
}

.product-form {
  textarea {
    height: 9.45em;
  }
}

@media (max-width: 1200px) {
  .login-article {
    flex-direction: column;
    justify-content: center;
    padding: 0em;

    img {
      margin: 0 auto;
      width: 50vw;
    }

    form {
      width: 100%;

      h1 {
        text-align: center;
        margin: 1.5em auto 0em auto;
      }

      button {
        margin: 1.5em auto 0em auto;
      }

      div {
        width: 100%;
        padding: 0em 6em 0em 4em;
        input,
        select,
        textarea {
          width: 100%;
        }

        .login-label {
          position: absolute;
          top: 30px;
          left: 93px;
        }
      }
    }

    .product-form,
    .product-add-form {
      div {
        width: 100%;
        padding: 0;
      }

      textarea {
        height: 15em;
      }

      .login-label {
        position: absolute;
        top: 30px;
        left: 28px;
      }
    }
  }

  .product-edit-inputs {
    flex-direction: column;
  }

  .terms {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      text-align: left;
      flex: 10;
      margin-left: 0em;

      line-height: 1em;
    }

    input {
      flex: 1;
    }
  }
}
