$background-primary: #16161d;
$background-secondary: #15151c;
$background-shadow: #131319;
$font-primary: #ebebeb;
$font-secondary: #b86bff;

.login-article {
  display: flex;
  justify-content: space-around;
  background-image: url("../svgs/waves2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  position: relative;
  height: 100%;

  &::before {
    content: "";
    background-color: $font-secondary;
    width: 2vw;
    height: 50%;
    position: absolute;
    top: 10%;
    left: 0;
  }

  &::after {
    content: "";
    background-color: $font-secondary;
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 10%;
    left: 80%;
  }

  img {
    width: 35vw;
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &::after {
      content: "";
      background-color: $font-secondary;
      width: 20vw;
      height: 1vh;
      position: absolute;
      top: 90%;
      left: 50%;
    }

    div {
      position: relative;
      label {
        color: $font-secondary;
      }

      .login-label {
        position: absolute;
        top: 42px;
        left: 27px;
      }

      .password-label {
        position: absolute;
        top: 42px;
        left: 27px;
      }
    }

    input,
    button {
      margin: 1em;
    }

    h1 {
      margin-left: 0.6em;
    }

    input {
      width: 30vw;
    }
  }
}

.terms {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    text-align: left;
    flex: 10;
    margin-left: -1em;

    line-height: 1em;
  }

  input {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .login-article {
    flex-direction: column;
    justify-content: center;
    padding: 0em;

    img {
      margin: 0 auto;
      width: 50vw;
    }

    form {
      width: 100%;

      h1 {
        text-align: center;
        margin: 1.5em auto 0em auto;
      }

      button {
        margin: 1.5em auto 0em auto;
      }

      div {
        width: 100%;
        padding: 0em 6em 0em 4em;
        input {
          width: 100%;
        }

        .login-label {
          position: absolute;
          top: 45px;
          left: 93px;
        }

        .password-label {
          position: absolute;
          top: 45px;
          left: 93px;
        }
      }
    }
  }

  .terms {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      text-align: left;
      flex: 10;
      margin-left: 0em;

      line-height: 1em;
    }

    input {
      flex: 1;
    }
  }
}
