.login-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("../svgs/waves2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  position: relative;
  height: 100%;
}

.login-article::before {
  content: "";
  background-color: #b86bff;
  width: 2vw;
  height: 50%;
  position: absolute;
  top: 20%;
  left: 0;
  z-index: -1;
}

.login-article::after {
  content: "";
  background-color: #b86bff;
  width: 4vw;
  height: 4vw;
  position: absolute;
  top: 24%;
  left: 80%;
  z-index: -1;
}

.login-article img {
  width: 35vw;
}

.login-article form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.login-article form div {
  position: relative;
}

.login-article form div label {
  color: #b86bff;
}

.login-article form div .error-tag {
  color: red;
  margin-left: 1em;
}

.login-article form div .login-label {
  position: absolute;
  top: 30px;
  left: 27px;
}

.login-article form input,
.login-article form button,
.login-article form select {
  margin: 0em 1em;
  outline: none;
}

.login-article form select {
  padding-top: 2em;
}

.login-article form h1 {
  margin-left: 0.6em;
}

.login-article form input,
.login-article form select,
.login-article form textarea {
  width: 30vw;
}

.product-desc {
  margin-left: 1em;
  height: 8em;
}

.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.terms p {
  text-align: left;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  margin-left: -1em;
  line-height: 1em;
}

.terms input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.valid-input {
  border-color: #08b140;
}

.invalid-input {
  border-color: #ca1515;
}

.product-edit-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product-edit-inputs input {
  margin: 0;
}

.product-form textarea {
  height: 9.45em;
}

@media (max-width: 1200px) {
  .login-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0em;
  }
  .login-article img {
    margin: 0 auto;
    width: 50vw;
  }
  .login-article form {
    width: 100%;
  }
  .login-article form h1 {
    text-align: center;
    margin: 1.5em auto 0em auto;
  }
  .login-article form button {
    margin: 1.5em auto 0em auto;
  }
  .login-article form div {
    width: 100%;
    padding: 0em 6em 0em 4em;
  }
  .login-article form div input,
  .login-article form div select,
  .login-article form div textarea {
    width: 100%;
  }
  .login-article form div .login-label {
    position: absolute;
    top: 30px;
    left: 93px;
  }
  .login-article .product-form div,
  .login-article .product-add-form div {
    width: 100%;
    padding: 0;
  }
  .login-article .product-form textarea,
  .login-article .product-add-form textarea {
    height: 15em;
  }
  .login-article .product-form .login-label,
  .login-article .product-add-form .login-label {
    position: absolute;
    top: 30px;
    left: 28px;
  }
  .product-edit-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .terms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .terms p {
    text-align: left;
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    margin-left: 0em;
    line-height: 1em;
  }
  .terms input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=login-styles.css.map */