$background-primary: #16161d;
$background-secondary: #15151c;
$background-shadow: #131319;
$font-primary: #ebebeb;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $font-primary;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: $background-primary;
  line-height: 1.5em;
  color: $font-primary;
}

.main-header {
  width: 100vw;
  height: 8vh;
  font-size: 1.2em;
  padding: 6vh 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo {
    display: flex;
    align-items: center;
    .logo-svg {
      display: block;
    }

    .logo-title {
      font-weight: normal;
      cursor: default;
      margin-left: 0.5em;
    }
  }
}

.hamburger {
  background: transparent;
  padding: 10px;
  display: none;
  cursor: pointer;
  border: 0;
  margin: 0;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: $font-primary;
  position: absolute;
}

.hamburger-inner {
  @include hamburger-line();
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
  @include hamburger-line();

  content: "";
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  top: 10px;
}

.hamburger--active .hamburger-inner {
  background-color: transparent;
}

.hamburger--active .hamburger-inner::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger-inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

.main-header-nav {
  display: flex;
  align-items: center;
}

.option-wrapper {
  .nav-options {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      padding: 0 0.6em;
      font-size: 1.2em;
    }
  }
}

@media (max-width: 768px) {
  .main-header {
    justify-content: space-around;
  }

  .option-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
    background-color: $background-shadow;
    margin-top: 10vh;
    display: none;
    transform: translateX(-1000px);

    .nav-options {
      display: block;
      padding: 3em;
      li {
        margin-bottom: 2em;
        text-align: center;
      }
    }
  }

  .menu-active {
    display: block;
    transform: translateX(0);
  }

  .hamburger {
    display: inline-block;
  }
}
