$background-primary: #16161d;
$background-secondary: #15151c;
$background-shadow: #131319;
$font-primary: #ebebeb;
$font-secondary: #b86bff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $font-primary;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: $background-primary;
  line-height: 1.5em;
  color: $font-primary;
  width: 100vw;
  overflow-x: hidden;
}

.main-header {
  width: 100vw;
  height: 8vh;
  font-size: 1.2em;
  padding: 4em 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo {
    display: flex;
    align-items: center;
    .logo-svg {
      display: block;
    }

    .logo-title {
      font-weight: normal;
      cursor: default;
      margin-left: 0.5em;
    }
  }
}

.hamburger {
  background: transparent;
  padding: 10px;
  display: none;
  cursor: pointer;
  border: 0;
  margin: 0;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: $font-primary;
  position: absolute;
}

.hamburger-inner {
  @include hamburger-line();
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
  @include hamburger-line();

  content: "";
  left: 0;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  top: 10px;
}

.hamburger--active .hamburger-inner {
  background-color: transparent;
}

.hamburger--active .hamburger-inner::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger-inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

.main-header-nav {
  display: flex;
  align-items: center;
}

.option-wrapper {
  .nav-options {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      padding: 0 0.6em;
      font-size: 1.2em;
    }
  }
}

.index-article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em 2em 10em 2em;
  background: linear-gradient(to bottom, #16161d 0%, #131319 100%);

  .article-text {
    p {
      padding: 2em 0;
    }
  }

  img {
    width: 40%;
    position: relative;
  }

  h1 {
    font-size: 2em;
    line-height: 1em;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      width: 75%;
      height: 25%;
      background-color: #b86bff;
    }
  }
}

.button-link {
  padding: 1em 1.4em;
  background-color: $font-primary;
  color: $font-secondary;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  border: 0;
  cursor: pointer;
}

.button-link span {
  z-index: 1;
  position: relative;
}

.button-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: $font-secondary;
  opacity: 0;
}

.button-link:hover span {
  color: $font-primary;
}

.button-link:hover::before {
  opacity: 1;
  transition-duration: 0.85s;
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}

.languages-article {
  width: 100vw;
  background-image: url(../public/svgs/waves.svg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 40em;
  text-align: center;
  padding: 1em;

  .languages {
    position: relative;
  }

  .languages-text {
    padding: 0 1em;
    z-index: 1;
    font-size: 1.4em;
  }

  .languages::after {
    position: absolute;
    top: 0;
    left: 30%;
    content: "";
    width: 400px;
    height: 200px;
    background-color: $font-secondary;
    z-index: -1;
  }

  .styled-p {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: $font-secondary;
      top: 150%;
      left: 0;
      width: 50px;
      height: 50px;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $font-secondary;
      top: 250%;
      left: 50%;
      width: 12em;
      height: 50px;
      z-index: -1;
    }
  }
}

.footer {
  width: 100%;
  background-color: $background-shadow;
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
}

@media (max-width: 768px) {
  .main-header {
    justify-content: space-around;
  }

  .option-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 85vh;
    width: 100vw;
    background-color: $background-shadow;
    margin-top: 15vh;
    display: none;
    transform: translateX(-1000px);

    .nav-options {
      display: block;
      padding: 3em;
      li {
        margin-bottom: 2em;
        text-align: center;
      }
    }
  }

  .menu-active {
    display: block;
    transform: translateX(0);
    z-index: 999;
  }

  .hamburger {
    display: inline-block;
  }

  .languages {
    img {
      width: 10%;
    }
  }

  .languages-text {
    padding: 0 0.5em;
    z-index: 1;
    font-size: 1.4em;
    text-align: justify;
  }

  .index-article {
    flex-direction: column;

    img {
      order: 0;
      width: 100%;
      padding-bottom: 2em;
    }

    .article-text {
      order: 1;
    }
  }

  .footer {
    font-size: 0.8em;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 1em;
    }
  }
}
